body {
    margin: 0;
    background-color: #F28482;
}

#Main-div-app
{
    width: 100%;
    height: 100Vh;
    background-color: #F28482;
    margin: 0 ; 
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#Div-1 {
    width: 50%;
    height: 100vh;
}


#Fond {
    width: 100%;
    height: 100%;
}

#Div-2 {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Div-2 h1 {
    font-size: 6rem;
    font-family: 'Nunito';
    font-weight: bold;
    color: white;
    margin-top: 200Px;
        -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
                animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    
}


 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  

#Div-2 button 
{
    margin-top: 100px;
    font-size: 2.5rem;
    border : 2px solid #F28482 ; 
    background-color: white;
    color: white;
    border-radius: 20px ;
    padding: 10px;
    padding-inline: 40px;
    color: #F28482;
    font-family: 'Rubik' ; 
    cursor: pointer;
    transition: s;

}