body {
    margin: 0;
    background-color: #F28482;
}

#Main-div
{
    width: 100%;
    height: 100Vh;
    background-color: #F28482;
    margin: 0 ; 
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#Players
{
    width: 70%;
    height: auto;
    margin: auto;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    border-radius: 10px;

}

#div-vote
{
    width: 70%;
    height: 70px;
    margin: auto;
    margin-bottom: 380px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    font-family: 'Nunito';
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color :#F28482 ; 

}