
#Question
{
    width: 70%;
    height: 300px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: white;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#Question p {
    font-family: "Rubik";
    font-size: 2rem;
    color : #F28482 ; 
    padding: 2%;
    text-align: center;
}

button {
    border : 2px solid white ; 
    border-radius: 5px;
    font-family: "Rubik";
    font-size: 1.5rem;
    padding: 10px;
    background-color: white;
    color :#F28482 ; 
    width: 30%;
    height: 50px;
    margin: auto;
    margin-top: 50px;
}